<article class="post-entry">
  <header class="post-header">
    <h3 class="post-title"><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h3>
    {{ if eq .Lang "zh" }}
      <p>
        <span class="post-meta">@{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} - {{ .Date.Format "2006 年 01 月 02 日" }} - </span>
        <span class="post-readingtime">阅读本文大约需 {{ .ReadingTime }} 分钟</span>
      </p>
    {{ else }}
      <p>
        <span class="post-meta">@{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} - {{ .Date.Format "Jan 2, 2006" }} - </span>
        <span class="post-readingtime">Estimated reading time: {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }}</span>
      </p>
    {{ end }}
  </header>
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}">
  {{ end }}
  <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}</p>
  <footer class="post-footer">
    {{ if eq .Lang "zh" }}
      <a class="read-more" href="{{ .Permalink }}">阅读全文 →</a>
    {{ else }}
      <a class="read-more" href="{{ .Permalink }}">Read More →</a>
    {{ end }}
  </footer>
</article>
