.post-entry .post-meta {                                                                                                                                            
  text-transform: none;
}

.post-entry .post-readingtime {                                                                                                                                            
  font-size: 0.8rem;
  font-style: italic;
}

.post-detail .post-header .post-meta {                                                                                                                                            
  text-transform: none;
}

.post-detail .post-header .post-readingtime {                                                                                                                                            
  font-size: 0.8rem;
  font-style: italic;
}

p.post-permalink {
  font-size: 0.9rem;
}

p.post-license {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
}

.comment-hidden {
  display: none;
}
