.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 14rem;
  padding: 1rem;
  text-align: center;
  display: block;
  border-color: lightgray;
  border-right-style: solid;
  border-right-width: 1px;

  ul {
    margin-left: 0;
    list-style: none;
  }
}


.site-menu {
  text-transform: capitalize;

  .menu-list {
    list-style: none;
    padding: 0;
  }

  .menu-item {
    padding: 1rem 0;
  }
}

.social-menu {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;

  .social-list {
    padding: 0;
    line-height: 2;
  }

  .social-item {
    display: inline-block;
    font-size: 1rem;
  }

  .social-icon {
    fill: darkgray;
    &:hover {
      fill: gray;
    }
  }

  li + li {
    padding-left: 1rem;
  }
}

.main-frame {
  position: relative;
  margin-left: 14rem;
  margin-right: auto;
  width: calc(100% - 14rem);
  padding: 1.5rem 2rem;
}

.main-body {
  margin: auto;
  min-width: 240px;
  max-width: 900px;
  padding: 1.5rem 2rem;
}
